<!DOCTYPE html>
<html>
  <head>
    <title>pidor</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
  </head>
  <body>
    <div class="block">
      <form method="post" class="forma">
        <label for="text-data">Введіть текст</label>
        <input type="text" name="text-data" class="text-data" value="">
        <input type="submit" class="submit">
      </form>
      <ul class="list"></ul>
    </div>

    <script src="javascripts/script.js"></script>
  </body>
</html>
